{% extends 'main.html' %}
{% load static %}

{% block meta%}
    
{% endblock %}




{% block content %}

<main class="main-workdetails-page">
    {% include 'header.html' %}


    <!-- Breadcrumb -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content" data-aos="fade-up">
                <p>HOME - BLOG DETAILS</p>
                <h1 class="section-heading">asdf</h1>
            </div>
        </div>
    </section>


    <!-- Blog Details -->
    <section class="blog-details-area">
        <div class="container">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="blog-details-content">
                        <div class="img-box">
                            <img src="#" alt="Blog">
                        </div> 
                        <span class="meta"></span>
                        
                        <p></p>
                        

                        
                        
                        <!--<div class="tags">
                            <a href="#" class="theme-btn">SASS</a>
                            <a href="#" class="theme-btn">Development</a>
                        </div>-->

                        

                    </div>
                </div>
               
                
            </div>
        </div>
    </section>



    <!-- Footer -->
    {% include 'footer.html' %}

</main>
{% endblock content %}