{% extends 'main.html' %}
{% load static %}
{% block title %}Ecommerce GA4 tracking example{% endblock %}
{% block meta%}
    <meta name="description" content="Implementation guide for tracking Ecommerce funnel with GA4 and Tag Manager."/>
    <meta property="og:locale" content="en_DE"/>
    <meta property="og:site_name" content="Juanfer Espinosa"/>
    <meta property="og:title" content="Ecommerce GA4 tracking example | Juanfer Espinosa"/>
    <meta property="og:description" content="Implementation guide for tracking Ecommerce funnel with GA4 and Tag Manager.."/>
    <meta property="og:type" content="website"/>
{% endblock %}
{% block datalayers  %}
<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({ ecommerce: null });
    window.dataLayer.push({
    event: 'view_item_list',              
    ecommerce: {                          
        items: [{                           
        item_name: 'Red Shirt',           
        item_id: 'shirt001',              
        price: '7.99',                    
        item_brand: 'mock-up',            
        item_category: 'Clothes',         
        item_category2: 'T-shirt',        
        item_variant: '',                 
        index: 1,                         
        quantity: '1'                     
        },{
        item_name: 'Hulk Green Shirt',    
        item_id: 'shirt002',              
        price: '8.99',
        item_brand: 'Mock up',
        item_category: 'Clothes',
        index: 2,
        quantity: '1'
        }]
    }
    });
</script>
{% endblock %}


{% block content %}

<main class="main-workspage">

    {% include 'header.html' %}

    <!-- Projects -->
    <section class="projects-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="section-heading" data-aos="fade-up", style="text-align:left;"> Ecommerce </h1>
                    <br>
                    <h3 style="text-align:center;"> Tracking properly ecommerce information </h3>
                    <br>
                    <br>
                    <div class="d-flex align-items-start gap-24">
                        <div data-aos="zoom-in" class="flex-1">
                            <div class="project-item shadow-box">
                                <a class="overlay-link" href="{% url 'ecommerce_product_detail' %}"></a> 
                                <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                <div class="project-img">
                                    <img src="{% static 'images/blog/ecommerce/product1.png' %}" alt="Project">
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="project-info">
                                        <p>T-shirts</p>
                                        <h1>Red Shirt</h1>
                                        <p style="font-size:20px;color:#fff;">$7.99</p>
                                    </div>
                                    <a id="selectItem" href="{% url 'ecommerce_product_detail' %}" class="project-btn">
                                        <img src="{% static 'images/dot-arrow-right.svg' %}" alt="Button">
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div data-aos="zoom-in" class="flex-1">
                            <div class="project-item shadow-box">
                                <a class="overlay-link" href="{% url 'ecommerce_product_detail' %}"></a>
                                <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                <div class="project-img">
                                    <img src="{% static 'images/blog/ecommerce/product2.png' %}" alt="Project">
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="project-info">
                                        <p>T-shirts</p>
                                        <h1>Hulk Green Shirt</h1>
                                        <p style="font-size:20px;color:#fff;">$8.99</p>
                                        
                                    </div>
                                    <a id="selectItem" href="{% url 'ecommerce_product_detail' %}" class="project-btn">
                                        <img src="{% static 'images/dot-arrow-right.svg' %}" alt="Button">
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    


                </div>

            </div>
        </div>
    </section>
    

    <!-- Footer -->
    {% include 'footer.html' %}
    

</main>
{% block datalayerFunction  %}
<!--<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({ ecommerce: null });
    document.getElementById("selectItem").addEventListener("click", function() {
        window.dataLayer.push({
        event: 'select_item',             // name of the event.
        ecommerce: {                          
            items: [{                           // Open array where all included products are viewed.
            item_name: 'Red Shirt',           // Product name
            item_id: 'shirt001',              // Product ID
            price: '7.99',                    // It can be both a number or string 
            item_brand: 'mock-up',            // insert an actual product price
            item_category: 'Clothes',         // Category 1 name
            item_category2: 'T-shirt',        // Category 2 name. You can have up to 5 categories
            item_variant: '',                 // You can add variants such as different product color. 
            index: 1,                         // It must be equal to 1
            quantity: '1'                     // Quantity must be equal to 1. 
            }]
        }
        });
        setTimeout(function() {
        window.location.href = event.target.href;
      }, 200);  // Adjust the delay time as needed

      // Prevent the default action to control the navigation
      event.preventDefault();
        });
</script>-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('myEnhancedLink').addEventListener('click', function(event) {
        // Push data to the dataLayer with additional information
        window.dataLayer.push({
        event: 'select_item',             // name of the event.
        ecommerce: {                          
            items: [{                           // Open array where all included products are viewed.
            item_name: 'Red Shirt',           // Product name
            item_id: 'shirt001',              // Product ID
            price: '7.99',                    // It can be both a number or string 
            item_brand: 'mock-up',            // insert an actual product price
            item_category: 'Clothes',         // Category 1 name
            item_category2: 'T-shirt',        // Category 2 name. You can have up to 5 categories
            item_variant: '',                 // You can add variants such as different product color. 
            index: 1,                         // It must be equal to 1
            quantity: '1'                     // Quantity must be equal to 1. 
            }]
        }
        });

        // Delay the navigation to ensure dataLayer push completes
        setTimeout(function() {
          window.location.href = event.target.href;
        }, 200);

        // Prevent the default action to control the navigation
        event.preventDefault();
      });
    });
  </script>
{% endblock %}

{% endblock content %}